@import '@utils/index';

.wrapper{
  @include set-size(100%,$header-height);
  display : flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: $temp-color;
}

.logo{
  height: 3rem;
  cursor: pointer;
}

.logIn{
  height: 1.5rem;
  cursor: pointer;
}